{{#if loggedIn}}
Hello I am {{me.name}}
<hr>
<button data-hull-action='logout'>Bye bye !</button>
{{else}}

<h1>Services</h1>
{{#authServices}}
<p>Please <button data-hull-action='login' data-hull-provider='{{.}}'>Login with {{.}}</button> first</p>
{{/authServices}}

{{/if}}
